In [1]:
 from sklearn.datasets import load_iris

In [2]:
dataset=load_iris()

In [3]:
data=dataset.data
target=dataset.target

In [4]:
import pandas as pd 
pd.DataFrame(data).head()

     0    1    2    3
0  5.1  3.5  1.4  0.2
1  4.9  3.0  1.4  0.2
2  4.7  3.2  1.3  0.2
3  4.6  3.1  1.5  0.2
4  5.0  3.6  1.4  0.2

In [5]:
pd.DataFrame(data).isnull().sum()

0    0
1    0
2    0
3    0
dtype: int64

In [6]:
from sklearn.model_selection import train_test_split

In [7]:
x_train,x_test,y_train,y_test=train_test_split(data,target,test_size=0.25)

In [8]:
pd.DataFrame(data).describe()

                0           1           2           3
count  150.000000  150.000000  150.000000  150.000000
mean     5.843333    3.057333    3.758000    1.199333
std      0.828066    0.435866    1.765298    0.762238
min      4.300000    2.000000    1.000000    0.100000
25%      5.100000    2.800000    1.600000    0.300000
50%      5.800000    3.000000    4.350000    1.300000
75%      6.400000    3.300000    5.100000    1.800000
max      7.900000    4.400000    6.900000    2.500000

In [9]:
from sklearn.preprocessing import StandardScaler
sc=StandardScaler()
x_train_sc=sc.fit_transform(x_train)

In [10]:
pd.DataFrame(x_train_sc).describe()

                  0             1             2             3
count  1.120000e+02  1.120000e+02  1.120000e+02  1.120000e+02
mean  -5.194258e-16  1.228680e-15  8.049117e-16  5.174432e-16
std    1.004494e+00  1.004494e+00  1.004494e+00  1.004494e+00
min   -1.904936e+00 -2.421788e+00 -1.547950e+00 -1.413962e+00
25%   -8.834980e-01 -5.937156e-01 -1.215989e+00 -1.183015e+00
50%   -5.357988e-02 -1.366974e-01  2.994868e-01  1.696755e-01
75%    6.486585e-01  7.773390e-01  8.190784e-01  8.295245e-01
max    2.691534e+00  2.605412e+00  1.742797e+00  1.753313e+00

In [11]:
x_test_sc=sc.fit_transform(x_test)
pd.DataFrame(x_test_sc).describe()

                  0             1             2             3
count  3.800000e+01  3.800000e+01  3.800000e+01  3.800000e+01
mean   8.297456e-16  1.464107e-15 -6.018577e-16 -7.829994e-16
std    1.013423e+00  1.013423e+00  1.013423e+00  1.013423e+00
min   -1.729763e+00 -1.765832e+00 -1.475901e+00 -1.555833e+00
25%   -9.704942e-01 -5.886106e-01 -1.297201e+00 -1.160811e+00
50%    1.141758e-01 -1.177221e-01  3.660812e-01  1.559298e-01
75%    7.649778e-01  3.531664e-01  7.647191e-01  9.130556e-01
max    1.849648e+00  3.178497e+00  1.603233e+00  1.472670e+00

In [12]:
from sklearn.linear_model import Perceptron

In [13]:
pc=Perceptron(penalty='l1')

In [14]:
pc.fit(x_train_sc,y_train)

Perceptron(alpha=0.0001, class_weight=None, early_stopping=False, eta0=1.0,
           fit_intercept=True, max_iter=1000, n_iter_no_change=5, n_jobs=None,
           penalty='l1', random_state=0, shuffle=True, tol=0.001,
           validation_fraction=0.1, verbose=0, warm_start=False)

In [15]:
pred_train=pc.predict(x_train_sc)

In [16]:
from sklearn.metrics import accuracy_score

In [17]:
accuracy_score(y_train,pred_train)

0.8303571428571429

In [18]:
pred_test=pc.predict(x_test_sc)

In [19]:
accuracy_score(y_test,pred_test)

0.7631578947368421