In [ ]:
from sklearn.datasets import load_iris

In [ ]:
#loading dataset
dataset=load_iris()

In [ ]:
#separating data and target into two object 
data=dataset.data
target=dataset.target

In [ ]:
#to display rows 
import pandas as pd 
pd.DataFrame(data).head()

In [ ]:
pd.DataFrame(data).isnull()

In [ ]:
#split data in train and test part 
from sklearn.model_selection import train_test_split

In [ ]:
x_train,x_test,y_train,y_test=train_test_split(data,target,test_size=0.25)

In [ ]:
#to check scale off each attribute 
pd.DataFrame(x_train).describe()

In [ ]:
# to standardelize the data 
from sklearn.preprocessing import StandardScaler
sc=StandardScaler()
x_train_sc=sc.fit_transform(x_train)

In [ ]:
pd.DataFrame(x_train_sc).describe()

In [ ]:
#Standerdalize the test data 
x_test_sc=sc.fit_transform(x_test)

In [ ]:
from sklearn.linear_model import Perceptron

In [ ]:
#Create object for classifier
pc=Perceptron(penalty='l2')

In [ ]:
#train the model
pc.fit(x_train_sc,y_train)

In [ ]:
#predict the train value 
pred_train=pc.predict(x_train_sc)

In [ ]:
from sklearn.metrics import accuracy_score

In [ ]:
#Compute the training accuracy
accuracy_score(y_train,pred_train)

In [ ]:
#Predict the test values
pred_test=pc.predict(x_test_sc)

In [ ]:
#Predict the testing accuracy
accuracy_score(y_test,pred_test)

# Test on Adult dataset

In [ ]:
import pandas as pd
url='https://archive.ics.uci.edu/ml/machine-learning-databases/adult/adult.data'

In [ ]:
dataset1=pd.read_csv(url,na_values='?',header=None,skipinitialspace=True)

In [ ]:
dataset1

In [ ]:
dataset1.head()

In [ ]:
dataset1.isnull().sum()

In [ ]:
dataset1=dataset1.dropna(axis=0)

In [ ]:
from sklearn.preprocessing import LabelEncoder

In [ ]:
le1=LabelEncoder()
le2=LabelEncoder()

In [ ]:
dataset1[7]=le1.fit_transform(dataset1[7])
dataset1[8]=le1.fit_transform(dataset1[8])

In [12]:
dataset1.head()

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,1,4,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,0,4,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,1,4,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,0,2,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,5,2,Female,0,0,40,Cuba,<=50K

In [13]:
le3=LabelEncoder()
dataset1[14]=le3.fit_transform(dataset1[14])

C:\Users\OC\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [14]:
dataset1.head()

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,1,4,Male,2174,0,40,United-States,0
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,0,4,Male,0,0,13,United-States,0
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,1,4,Male,0,0,40,United-States,0
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,0,2,Male,0,0,40,United-States,0
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,5,2,Female,0,0,40,Cuba,0

In [15]:
target=dataset1[14]

In [16]:
target.shape

(30162,)

In [17]:
data=dataset1.drop(columns=[14])

In [18]:
data.head()

,0,1,2,3,4,5,6,7,8,9,10,11,12,13
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,1,4,Male,2174,0,40,United-States
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,0,4,Male,0,0,13,United-States
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,1,4,Male,0,0,40,United-States
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,0,2,Male,0,0,40,United-States
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,5,2,Female,0,0,40,Cuba

In [ ]:
from sklearn.model_selection import train_test_split
x_train1, x_test1, y_train1, y_test1=train_test_split(data, target, test_size=0.3)

In [ ]:
x_train1.shape

In [ ]:
pc1=Perceptron()

In [ ]:
pc1.fit(x_train1, y_train1)

In [ ]:
pred_train1=pc1.predict(x_train1)

In [ ]:
accuracy_score(y_train1, pred_train1)

In [ ]:
pred_test1=pc1.predict(x_test1)

In [ ]:
accuracy_score(y_test1, pred_test1)

In [ ]:
from sklearn.metrics import confusion_matrix, precision_score, recall_score

In [ ]:
#confusion matrix for iris dataset
print(confusion_matrix(y_test, pred_test))
print(precision_score(y_test, pred_test, average='weighted'))
print(recall_score(y_test, pred_test,average='weighted'))

In [ ]:
#confusion matrix for adult dataset
print(confusion_matrix(y_test1, pred_test1))
print(precision_score(y_test1, pred_test1, average='weighted'))
print(recall_score(y_test1, pred_test1,average='weighted'))