In [12]:
import numpy as np 
import pandas as pd 
from sklearn.impute import SimpleImputer

df=pd.read_csv('anik.csv')
df

      A     B     C   D
0   2.0   7.0   7.0   5
1   NaN   4.0   8.0   4
2   5.0   NaN   9.0   2
3   7.0   5.0   NaN   1
4  10.0  20.0  30.0  40

In [3]:
df.head(2)

     A    B    C  D
0  2.0  7.0  7.0  5
1  NaN  4.0  8.0  4

In [4]:
df.tail(2)

      A     B     C   D
3   7.0   5.0   NaN   1
4  10.0  20.0  30.0  40

In [5]:
df.isnull().sum().sum()

3

In [6]:
imp=SimpleImputer(strategy='mean')
imp.fit(df)
imp

SimpleImputer(add_indicator=False, copy=True, fill_value=None,
              missing_values=nan, strategy='mean', verbose=0)

In [7]:
df1=imp.transform(df)
df1

array([[ 2. ,  7. ,  7. ,  5. ],
       [ 6. ,  4. ,  8. ,  4. ],
       [ 5. ,  9. ,  9. ,  2. ],
       [ 7. ,  5. , 13.5,  1. ],
       [10. , 20. , 30. , 40. ]])

In [8]:
a=np.array(df)
a

array([[ 2.,  7.,  7.,  5.],
       [nan,  4.,  8.,  4.],
       [ 5., nan,  9.,  2.],
       [ 7.,  5., nan,  1.],
       [10., 20., 30., 40.]])

In [9]:
df.dropna(axis=1 , how='all')

      A     B     C   D
0   2.0   7.0   7.0   5
1   NaN   4.0   8.0   4
2   5.0   NaN   9.0   2
3   7.0   5.0   NaN   1
4  10.0  20.0  30.0  40

In [10]:
#to view last two row 
df.dropna(axis=0,thresh=4)

      A     B     C   D
0   2.0   7.0   7.0   5
4  10.0  20.0  30.0  40

In [11]:
df.shape

(5, 4)